.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control {
  width: 200px;
}

/* .address-box {
  height: 150%;
  width: 150%;
} */

.col input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mapdiv {
  width: 100%;
  height: 50%;
}

#map {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 576px) {
  #mapdiv {
    width: 90%;
    height: 50%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 768px) {
  #mapdiv {
    width: 80%;
    height: 65%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
  #mapdiv {
    height: 80%;
  }
}

@media only screen and (min-width: 1250px) {
  #mapdiv {
    width: 1000px;
    height: 800px;
    margin: auto;
  }
}