<!DOCTYPE html>
<html>
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='global.css')}}" rel="stylesheet">
<body>
<body>
	<section>
		<h1 class="display-4 fw-bold text-center">How to use this tool</h1>
		<br>
		<p class="lead mb-4 text-center">Enter address</p>
		<p class="lead mb-4 text-center">See flood risk score</p>
		<p class="lead mb-4 text-center">Use interactive map to check your area</p>
		<p class="lead mb-4 text-center">Make a flood plan with this information</p>
		<p class="lead mb-4 text-center">It's as shrimple as that</p>
		<img id="guide-shrimp" src="https://cdn.britannica.com/44/4144-004-43DD2776/Peneus-setiferus.jpg">
	</section>
</html>
</body>
</html>
