<!DOCTYPE html>
<html>
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='guide.css')}}" rel="stylesheet">
<body>
<body>
	<section>
		<h1 class="display-4 fw-bold">How to use this tool</h1>
		<br>
		<p class="lead mb-4">Enter address</p>
		<p class="lead mb-4">See flood risk score</p>
		<p class="lead mb-4">Use interactive map to check your area</p>
		<p class="lead mb-4">Make a flood plan with this information</p>
		<p class="lead mb-4">It's as shrimple as that</p>
		<img src="https://cdn.britannica.com/44/4144-004-43DD2776/Peneus-setiferus.jpg">
	</section>
</html>
</body>
</html>
