<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='global.css')}}" rel="stylesheet">
<body>

<main>
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">A flood risk prediction tool</h1>
    <div class="col-lg-6 mx-auto">
      <h3 class="font-weight-normal mb-4">
        Do you live in Brisbane? The flood season is historically dangerous and costly.
        Flood-iction can aid in the flood planning for your home or business. Enter an address below to calculate your risk.
      </h3>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <form method = "post" action = "/results">
          <div class="row">
            <div class="col address-box">
              <input type="text" class="form-control" name="address" placeholder="Enter an address">
            </div>
            <div class="col address-box">
              <input type="submit" class="btn btn-primary" value="Check">
            </div>
          </div>
        </form>
      </div>
      <img src="{{url_for('static', filename='map_example.png')}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Interactive Risk Visualization Map" width="700" height="500" loading="lazy">
    </div>
  </div>
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{url_for('static', filename='circle-5090539_1280.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Image by Reto Scheiwiller from Pixabay" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Our method</h1>
        <h3 class="font-weight-normal">
          Flood-iction uses historic flood data to generate data. Using this data, an attempt is made to predict future flooding. Learn more about this process on the about page.
        </h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/about">About Flood-iction</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Other resources</h1>
        <h3 class="font-weight-normal">
          Flood-iction is meant to be used as a tool for a variety of needs, but for flood planning it is critical that it is used in combination with other resources.
          See our resources page for a list of other important flood-related resources.
        </h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="/resources">Resources</a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{{url_for('static', filename='pelican-235185_1920.jpg')}}" alt="Image by Jeanette Dickson from Pixabay" width="720">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>
</main>

</body>
</html>
